<h1><%= @product.name %></h1>
<p><%= @product.description %></p>

<p><%= link_to 'back', products_path %></p>

<% @product.reviews.each do |review| %>
  <%= review.title %>
  <%= review.description %>
<% end %>