<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container page-top">
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-text" data-toggle="dropdown" role="button" aria-expanded="false">
            <% if current_user %>
              <%= current_user.username %>
            <% else %>
              Account
            <% end %>
            <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if current_user %>
              <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
              <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
            <% else %>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
              <li><%= link_to 'Log In', new_user_session_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
